.div1 {
    height: 100vh;
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: center;
    align-items: center;
}

.div2 {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div3 {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input_name{
    margin-bottom: 10px;
}

.input_pwd{
    margin-bottom: 10px;
}

.input_code{
    width: 140px;
}

.button_register{
    width: 80px;
}
.div_space{
    width: 10px;
}